﻿<div ng-repeat="@Model.repeat">
    <table style="width: 100%; table-layout: fixed;" class="table table-striped">
        <thead class="@Model.header" ng-click="toggleDetail(user.Id)" style="cursor: pointer">
            <tr class="active">
                <th style="width:0px"></th>
                <th>
                    @if (string.IsNullOrEmpty(Model.header))
                    {
                        <span work-type="user.WorkType"></span>
                    }
                    else
                    {
                        <i class="fa fa-group" aria-hidden="true"></i>
                    }
                    @Model.name
                    <div class="pull-right">&nbsp;{{assignmentsCount(user.Id)}}</div>
                    <div class="pull-right">{{ getGroupName(user.GroupId) }}</div>
                </th>
                <th width="110">
                    <i class="fa fa-gears" aria-hidden="true"></i> Projekt
                </th>
                <th width="110">
                    <i class="fa fa-play" aria-hidden="true"></i> Začátek
                </th>
                <th width="110">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Čas
                </th>
                <th width="40"></th>
                <th style="width:0px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="assign in assignments[user.Id] | orderBy: 'Order'" ng-if="(detail[user.Id]) || assign.StartRun != null"
                ng-style="assignment.Id == assign.Id ? { 'border': '2px solid orange'} : {}"
                ng-class="getAssignmentClass(assign)">
                <td>
                    @if (string.IsNullOrEmpty(Model.header))
                    {
                        <button class="pull-left" style="margin-left: -45px;" ng-if="assign.StartRun == null" ng-click="start(assign)">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </button>
                        <button class="pull-left" style="margin-left: -75px;" ng-if="assign.Start != null && assign.Stop == null" ng-click="stop(assign)">
                            <i class="fa fa-stop" aria-hidden="true"></i>
                        </button>
                        <button class="pull-left" style="margin-left: -45px;" ng-if="assign.StartRun != null && assign.Stop == null" ng-click="pause(assign)">
                            <i class="fa fa-pause" aria-hidden="true"></i>
                        </button>
                    }
                </td>
                <td style="overflow-x:hidden; white-space:nowrap; cursor:pointer" edit-assignment="assign" users="users" groups="groups" projects="projects">
                    <span work-type="assign.WorkType"></span>   {{assign.BlockName || "-"}} || {{assign.Name}} || {{assign.Description || "-"}}
                </td>
                <td>
                    {{ getProjectName(assign.ProjectId)}}
                </td>
                <td>
                    {{assign.Start | date:'dd.MM.yy HH:mm'}}
                </td>
                <td style="{{getStyle(assign)}}" data-tooltip="{{ (assign.StartRun != null ? 'Spuštěno : '+(assign.StartRun|date:'dd.MM.yy HH:mm') + '&#xa;' : '')  + 'Plánovaný čas : ' + getExpectedDuration(assign.ExpectedDuration) +  ' &#xa;Odpracovaný čas : '  + getDurationWork(assign) }}">
                    {{assignmentTime(assign)}}
                </td>
                <td>
                    <div ng-if="assignment.Id != assign.Id">
                        <button ng-click="delete(assign)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
                <td>
                    <div ng-if="assignment.Id != assign.Id && detail[user.Id]" style="display: flex">
                        <button class="btn-nav" ng-click="up(assign)" ng-disabled="!canUp(assign)"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
                        <button class="btn-nav" ng-click="down(assign)" ng-disabled="!canDown(assign)"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>