﻿<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-default" ng-show="hideFilter" ng-click="hideFilter = false"><i class="fa fa-level-down"></i></button>
        <button class="btn btn-default" ng-show="!hideFilter" ng-click="hideFilter = true"><i class="fa fa-level-up"></i></button>
        Filtrovat Skupiny
        <button class="btn btn-primary pull-right" ng-click="archive()">Archivovat dokončné úkoly</button>
    </div>
    <div class="panel-body" ng-if="!hideFilter">
        <div class="form-horizontal">

            <div>
                <div class="row">
                    <button ng-disabled="newAssignments.length > 0" class="btn btn-default col-xs-6 col-md-3" ng-repeat="gr in groups" ng-class="{active: gr.Id === group.Id}" ng-click="filterGroup(gr)">{{gr.Name}}</button>
                </div>
            </div>
        </div>
    </div>
</div>