﻿<div class="list-group" style="overflow-y:scroll; height: 400px; border:solid 2px" ng-init="showItem = {}">
    <div class="list-group-item" style="padding: 3px 5px;" ng-repeat="pTemplate in projectTemplates">
        <div style="display:flex;">
            <div style="flex: 1; cursor:pointer" ng-click="showItem.id = pTemplate.Id === showItem.id ? {} : pTemplate.Id">
                <span class="badge" style="vertical-align: middle">
                    {{ (pTemplate.Templates || []).length }}
                </span> {{pTemplate.Name}}
            </div>
            <h5 ng-if="pTemplate.Id > 0">{{ sumDuration(pTemplate.Templates) }} &nbsp;</h5>
            <div ng-if="pTemplate.Id > 0" class="btn btn-primary btn-md" ng-click="addFromTemplates(pTemplate.Templates)">
                <i class="fa fa-plus"></i>
            </div>
        </div>
        <div ng-if="pTemplate.Id === showItem.id">
            <table class="table table-custom" style="font-size: 14px;">
                <tbody>
                    <tr ng-repeat="temp in pTemplate.Templates">
                        <td> {{temp.Code}} </td>
                        <td> {{temp.Name}} </td>
                        <td> {{ roles[temp.RoleId].Name }} </td>
                        <td style="width: 100%;overflow-x: hidden; max-width:150px"> {{temp.Description}} </td>
                        <td> {{ getDuration(temp.Duration)}} </td>
                        <td style="width:1%">
                            <div class="btn btn-default btn-sm" ng-click="addFromTemplates([temp])">
                                <i class="fa fa-plus"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
