﻿<table class="table table-striped multi-table">
    <thead ng-click="all = all == @Model.group ? null : @Model.group" style="cursor: pointer">
        <tr class="active">
            <th style="width: 60%">
                @Model.title
                <div class="pull-right">{{assignmentsCount(user.Id)}}</div>
            </th>
            <th>
                Projekt
            </th>
            <th>
                Pracovník
            </th>
            <th>
                Začátek
            </th>
            <th>
                Čas
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="assign in assignments | orderBy: orderByState" ng-if="(all == @Model.group || assign.Start == null || assign.Stop == null) && (@Model.target)"
            ng-class="getAssignmentClass(assign)">
            <td style="word-wrap: break-word">
                <span work-type="assign.WorkType"></span>  {{assign.BlockName}} || {{assign.Name}} ||  {{assign.Description}}
            </td>
            <td>
                {{getProjectName(assign.ProjectId)}}
            </td>
            <td>
                <div>{{users[assign.UserId]}}</div>
            </td>
            <td>
                {{assign.Start | date:'dd.MM.yy HH:mm'}}
            </td>
            <td style="{{getStyle(assign)}}">
                {{assignmentTime(assign)}}
            </td>
            <td>
                <div ng-if="userId === assign.UserId || assign.StartRun == null" style="white-space: nowrap;">
                    <button class="btn btn-primary" type="button" ng-if="canRun()" ng-click="start(assign)"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button class="btn btn-primary" type="button" ng-if="assign.StartRun != null" ng-click="pause(assign)"><i class="fa fa-pause" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" type="button" ng-if="assign.Start != null && assign.UserId === userId && assign.Stop == null" ng-click="stop(assign)"><i class="fa fa-stop" aria-hidden="true"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
