﻿@{
    ViewBag.Title = "Plánování úkolů";
}
<div ng-controller="plannerCtrl" ng-init="filter = {}" style="padding-left:58px;">

    @Html.Partial("_GroupFilter")

    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
            <div class="btn btn-primary pull-right" ng-if="!state.create" ng-click="state.create = true">Vytvořit úkol</div>
            <div class="btn btn-primary pull-right" ng-if="state.create" ng-click="state.create = false">Schovat vytváření úkolů</div>
        </div>
        <div class="panel-body" ng-show="state.create">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Projekt</label>
                    <div class="col-sm-10">
                        <div style="display:flex" ng-if="project.mod == null && !project.del">
                            <select id="name" class="form-control" convert-to-number ng-model="project.id" ng-change="projectChanged()">
                                <option></option>
                                <optgroup label="Aktivní">
                                    <option ng-repeat="proj in projects| filter: {Planned: false, CloseDate: null} | orderBy: 'Name'" value="{{proj.Id}}">{{proj.Name}}</option>
                                </optgroup>

                                <optgroup label="Plánované">
                                    <option ng-repeat="proj in projects | filter: {Planned: true, CloseDate: null} | orderBy: 'Name'" value="{{proj.Id}}">{{proj.Name}}</option>
                                </optgroup>
                            </select>
                            <select id="name" class="form-control" ng-model="project.active.RoleId" convert-to-number disabled style="max-width: 100%">
                                <option></option>
                                <option ng-repeat="group in groups | filter: { Id: group.Id }" value="{{group.Id}}">{{group.Name}}</option>
                            </select>
                            <div style="flex:1"></div>

                            <div class="btn btn-primary" ng-disabled="project.id == null" ng-click="project.del = true"><i class="fa fa-trash"></i></div>
                            <div class="btn btn-primary" ng-disabled="project.id == null" ng-click="editProject()"><i class="fa fa-pencil"></i></div>
                            <div class="btn btn-primary" ng-click="project.mod = {}"><i class="fa fa-plus"></i></div>

                        </div>
                        <div style="display:flex" ng-if="project.mod != null">
                            <input class="form-control" autofocus type="text" name="name" ng-model="project.mod.Name" />
                            <select id="name" class="form-control" ng-model="project.mod.RoleId" style="max-width: 100%">
                                <option></option>
                                <option ng-repeat="group in groups | filter: { Id: group.Id }" value="{{group.Id}}">{{group.Name}}</option>
                            </select>
                            <div style="flex:1"></div>
                            <div class="btn btn-primary" ng-click="createProject()"><i class="fa fa-check"></i></div>
                            <div class="btn btn-primary" ng-click="project.mod = null"><i class="fa fa-times"></i></div>
                        </div>
                        <div style="display:flex" ng-if="project.del">
                            <div style="flex:1"> Oprdavdu chcete smazat {{project.active.Name}}?</div>
                            <div class="btn btn-primary" ng-click="deleteProject()"><i class="fa fa-check"></i></div>
                            <div class="btn btn-primary" ng-click="project.del = false"><i class="fa fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Šablona</label>
                    <div class="col-sm-10">
                        <button class="btn btn-primary pull-right" ng-click="showTemplates = !showTemplates" ng-show="!showProjectTemplates">
                            {{showTemplates ?  'Schovat šablony' : 'Vybrat šablonu'}}
                        </button>
                        <button class="btn btn-primary pull-right" ng-click="showProjectTemplates = !showProjectTemplates" ng-show="!showTemplates">
                            {{showProjectTemplates ?  'Schovat šablony projektu' : 'Vybrat šablonu projektu'}}
                        </button>
                    </div>
                </div>
                <div class="form-group" ng-show="showTemplates">
                    @Html.Partial("_Templates")
                </div>
                <div class="form-group" ng-show="showProjectTemplates">
                    @Html.Partial("_ProjectTemplates")
                </div>
                <div class="form-group" ng-if="newAssignments.length > 0">
                    <label class="col-sm-2 control-label">Úkoly</label>
                    <div class="col-sm-10" style="height:250px; overflow-y:scroll">
                        <table class="table table-custom" style="font-size: 14px;">
                            <thead>
                                <tr>
                                    @*<th>Název</th>*@
                                    <th>Skupina</th>
                                    <th>Pracovník</th>
                                    <th>Název/Popis</th>
                                    <th>Čas</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="na in newAssignments" ng-click="selectFrom(na)" ng-style="assignment === na ? { 'border': '2px solid orange'} : {}"
                                    ng-class="{active: na === assignment, danger: isInvalid(na) }">
                                    @*<td> {{ na.Name}} </td>*@
                                    <td> {{ roles[na.RoleId].Name || roles[project.active.RoleId].Name }} </td>
                                    <td> {{ usersDic[na.UserId].UserName }} </td>
                                    <td style="width: 100%;overflow-x: hidden; max-width:150px"> <span work-type="na.WorkType"></span> {{na.BlockName || "-"}} || {{na.Name}} || {{na.Description || "-"}} </td>
                                    <td> {{ getDuration(na.ExpectedDuration)}} </td>
                                    <td style="width:1%">
                                        <div class="btn btn-default btn-sm" ng-click="removeNewAssignment(na)">
                                            <i class="fa fa-minus"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Skupina</label>
                    <div class="col-sm-10">
                        <select id="name" class="form-control" ng-model="assignment.RoleId" style="max-width: 100%" ng-change="groupChanged()">
                            <option></option>
                            <option ng-repeat="group in groups | filter: { Id: group.Id }" value="{{group.Id}}">{{group.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Pracovník</label>
                    <div class="col-sm-10">
                        <select id="user" ng-model="assignment.UserId" class="form-control" style="max-width: 100%" ng-change="workerChanged()">
                            <option></option>
                            <option ng-repeat="user in users | filter: {GroupId: null} |filter: {GroupId: group.Id }" value="{{user.Id}}">{{user.UserName}}</option>
                            <optgroup label="{{gr.Name}}" ng-repeat="gr in groups | filter: { Id: group.Id }">
                                <option ng-repeat="user in users | filter: {GroupId: gr.Id }" value="{{user.Id}}">{{user.UserName}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="newAssignments.length === 0 || assignment.Duration != null">
                    <label class="col-sm-2 control-label">Odbornost</label>
                    <div class="col-sm-10">
                        <select id="name" class="form-control" ng-model="assignment.WorkType" convert-to-number style="max-width: 100%">
                            @*<option value="0">Ostatní</option>*@
                            <option value="1">Zámečník</option>
                            <option value="2">Elektro</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="newAssignments.length === 0 || assignment.Duration != null">
                    <label class="col-sm-2 control-label">Plánováný Čas</label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="number" ng-change="expectedDurationChanged()" class="form-control input-duration" ng-model="expectedDuration.hours" min="0">
                            <div class="input-group-addon">hodin</div>
                        </div>

                        <div class="input-group">
                            <input type="number" ng-change="expectedDurationChanged()" class="form-control input-duration" ng-model="expectedDuration.minutes" min="0" max="59">
                            <div class="input-group-addon">minut</div>
                        </div>

                    </div>
                    <label class="col-sm-3 control-label" ng-show="assignment.Id != null">Odpracovaný Čas</label>
                    <div class="col-sm-3" ng-show="assignment.Id != null">
                        <div class="input-group">
                            <input type="number" ng-change="durationChanged()" class="form-control input-duration" ng-model="duration.hours" min="0">
                            <div class="input-group-addon">hodin</div>
                        </div>

                        <div class="input-group">
                            <input type="number" ng-change="durationChanged()" class="form-control input-duration" ng-model="duration.minutes" min="0" max="59">
                            <div class="input-group-addon">minut</div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="newAssignments.length === 0 || assignment.Duration != null">
                    <label for="name" class="col-sm-2 control-label">Název</label>
                    <div class="col-sm-10">
                        <input id="name" class="form-control" type="text" ng-model="assignment.Name" />
                    </div>
                </div>
                <div class="form-group" ng-if="newAssignments.length === 0 || assignment.Duration != null">
                    <label for="name" class="col-sm-2 control-label">Název bloku</label>
                    <div class="col-sm-10">
                        <input id="name" class="form-control" type="text" ng-model="assignment.BlockName" />
                    </div>
                </div>
                <div class="form-group" ng-if="newAssignments.length === 0 || assignment.Duration != null">
                    <label for="description" class="col-sm-2 control-label">Popis</label>
                    <div class="col-sm-10">
                        <textarea id="description" class="form-control" rows="4" style="width: 100%" ng-model="assignment.Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="pull-right" ng-if="newAssignments.length > 0">
                            <button type="button" class="btn btn-primary btn-lg" ng-disabled="isNewAssignmentsInvalid()" ng-click="createAssignments()">Vytvořit</button>
                            <button type="button" class="btn btn-primary btn-lg" ng-click="cancelAssignments()">Zrušit</button>
                        </div>
                        <div class="pull-right" ng-if="newAssignments.length === 0">
                            <button type="button" ng-if="assignment.Id == null" class="btn btn-primary btn-lg" ng-click="create()" ng-disabled="isInvalid(assignment)">Vytvořit</button>
                            <button type="button" ng-if="assignment.Id != null" class="btn btn-primary btn-lg" ng-click="update()" ng-disabled="isInvalid(assignment)">Upravit</button>
                            <button type="button" ng-if="assignment.Id != null" class="btn btn-primary btn-lg" ng-click="select()">Zrušit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_AssignmentsTable", new { repeat = "user in groups | filter: {Id: group.Id } | orderBy: 'Name'", name = "{{ user.Name }}", header = "primary-header" })
    @Html.Partial("_AssignmentsTable", new { repeat = "user in users | filter: {GroupId: group.Id } | orderBy: 'UserName'", name = "{{ user.UserName }}", header = "" })
</div>

@Html.Partial("~/Views/Shared/Modals/_EditAssignment.cshtml")

@section scripts{
    @Scripts.Render("~/Scripts/models/Planner.js".JSVersion())
}
