﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Aktivní úkol";
}
<div ng-controller="tasksCtrl" ng-init="userId = '@User.Identity.GetUserId()'">

    <div class="panel panel-default" ng-if="hasAttendance">
        <div class="panel-heading" style="display:flex; cursor:pointer" ng-click="showLog = !showLog" ng-show="logs.length !== 0">
            <div>
                Začátek směny v <b>{{getEntry() | date:'H:mm'}}</b>
            </div>
            <div style="flex:1"></div>
            <div>
                8 hodin bude odpracováno v <b>{{getLeave() | date:'H:mm'}}</b>
            </div>
        </div>
        <div class="container" ng-if="showLog">
            <table style="width:100%">
                <tr ng-repeat="log in logs">
                    <td>{{formatType(log.Type)}}</td>
                    <td>{{log.Date | date:'H:mm'}}</td>
                    <td>{{log.DateEnd | date:'H:mm'}}</td>
                </tr>
            </table>
        </div>
        @*<div ng-if="!isWorking">
            <div class="alert-warning" role="alert" style="padding:10px; text-align:center">
                Aktuální stav docházky : {{ logs.length === 0 ? 'Není zaznamenán příchod do práce.' : formatType(logs[logs.length -1].Type) }}
                <div style="font-size:14px" ng-if="logs.length === 0">Prosím zkontrolujte si že byl zaznamenán přichod do práce!</div>
                <div style="font-size:14px" ng-if="logs.length !== 0">
                    Nespouštějte si prosím úkoly {{logs[logs.length -1].Type === '03' ? 'po odchodu z práce.': 'během přestávky.'}}
                </div>
            </div>
        </div>*@
    </div>
    <div class="panel panel-default" ng-if="assignment != null">
        <div class="panel-heading"> <span work-type="assignment.WorkType"></span> {{ assignment.BlockName}} || {{assignment.Name}}</div>
        <div class="container">
            <div class="row">
                <div ng-class="{ 'col-xs-4':assignment.ExpectedDuration !== 0}" style="border: 1px solid #dddddd;padding: 0;">
                    <div style="text-align:center; background-color:#f5f5f5">Odpracováno</div>
                    <div style="text-align:center; font-size:15px;">
                        Hodin&nbsp;&nbsp;&nbsp;Minut
                    </div>
                    <div style="text-align:center"> {{ assignment.time.finished.hours + " : " + ('00' + assignment.time.finished.minutes).slice(-2) }} </div>
                </div>
                <div class="col-xs-4" style="border: 1px solid #dddddd;padding: 0;" ng-if="assignment.ExpectedDuration !== 0">
                    <div style="text-align:center; background-color:#f5f5f5">Odhad</div>
                    <div style="text-align:center; font-size:15px;">
                        Hodin&nbsp;&nbsp;&nbsp;Minut
                    </div>
                    <div style="text-align:center"> {{ assignment.time.expected.hours + " : " + ('00' + assignment.time.expected.minutes).slice(-2) }} </div>

                </div>

                <div class="col-xs-4" style="border: 1px solid #dddddd; padding: 0;" ng-if="assignment.ExpectedDuration !== 0">
                    <div style="text-align:center; background-color:#f5f5f5">Stav</div>
                    <div ng-class="getStateColor(assignment.time.plan.duration)">
                        <div style="text-align:center; font-size:15px;">
                            Hodin&nbsp;&nbsp;&nbsp;Minut
                        </div>
                        <div style="text-align:center"> {{ assignment.time.plan.hours + " : " + ('00' + assignment.time.plan.minutes).slice(-2) }} </div>
                    </div>
                </div>
            </div>
            <div class="row" style="border: 1px solid #dddddd;">
                <div style="font-size:19px;font-weight:bold; background-color:#eeeeee; padding: 5px 5px">Abra Kód : {{assignment.Code}}</div>
            </div>
            <div class="row" style="border: 1px solid #dddddd;">
                <div style="font-size:19px;font-weight:bold; background-color:#eeeeee; padding: 5px 5px">{{assignment.Description}}</div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary btn-lg col-xs-4" ng-click="stop()">Ukončit</button>
                <div class="col-xs-4"></div>
                <button type="button" class="btn btn-primary btn-lg col-xs-4" ng-click="pause()" ng-if="assignment.StartRun">Pozastavit</button>
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-if="assignment != null && project != null">
        <div class="panel-heading" style="display:flex">
            <div style="flex: 1">
                <i class="fa fa-gears"></i> {{ project.Name }}
            </div>
            <div ng-if="project.View === 1">
                <i class="fa fa-calendar"></i> {{month}}
            </div>
        </div>
        <div class="row" style="padding: 0 15px">
            <div class="col-sm-6 col-md-6 panel-time">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-gear"></i> Zámečníci
                        <span class="pull-right">{{projectTimes[1].state.finished}}/{{projectTimes[1].state.total}}</span>
                    </div>
                    <div class="panel-body" ng-class="{'back-green': projectTimes[1].plan.duration <= 0 , 'back-red': projectTimes[1].plan.duration > 0 }">
                        <table style="width:100%; text-align:center">
                            <tr style="font-size: 13px">
                                <td>Hodiny</td>
                                <td>Minuty</td>
                            </tr>
                            <tr style="font-size: 19px">
                                <td>{{projectTimes[1].plan.hours}}</td>
                                <td>{{projectTimes[1].plan.minutes}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 panel-time">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bolt"></i> Elektro
                        <span class="pull-right">{{projectTimes[2].state.finished}}/{{projectTimes[2].state.total}}</span>
                    </div>
                    <div class="panel-body" ng-class="{'back-green': projectTimes[2].plan.duration <= 0 , 'back-red': projectTimes[2].plan.duration > 0 }">
                        <table style="width:100%; text-align:center">
                            <tr style="font-size: 13px">
                                <td>Hodiny</td>
                                <td>Minuty</td>
                            </tr>
                            <tr style="font-size: 19px">
                                <td>{{projectTimes[2].plan.hours}}</td>
                                <td>{{projectTimes[2].plan.minutes}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="overflow-x:auto">
        @Html.Partial("_TasksTableBody", new { title = "MOJE ÚKOLY", group = "1", target = "assign.UserId === '" + @User.Identity.GetUserId() + "'" })
        @Html.Partial("_TasksTableBody", new { title = "ÚKOLY VE SKUPINĚ", group = "2", target = "assign.UserId == null" })
        @Html.Partial("_TasksTableBody", new { title = "ÚKOLY SPOLUPRACOVNÍKŮ", group = "3", target = "assign.UserId != null && assign.UserId !== '" + @User.Identity.GetUserId() + "'" })

        <table class="table table-striped" ng-repeat="proj in projects | orderBy:'Name'">
            <thead style="cursor: pointer" ng-click="loadProjectData(proj.Id)" ng-if="filter.projectId !== proj.Id">
                <tr class="active">
                    <th style="width: 60%">
                        <i class="fa fa-gears"></i>
                        {{proj.Name}}
                    </th>
                    <th>
                        <div class="pull-right" ng-if="projectsTasks[proj.Id] != null">
                            <span ng-if="proj.View === 1">{{month}}</span>  {{projectsTasks[proj.Id].Finished + '/' + projectsTasks[proj.Id].Count}}
                        </div>
                    </th>
                </tr>
            </thead>
            <thead style="cursor: pointer" ng-click="loadProjectData(proj.Id)" ng-if="filter.projectId === proj.Id">
                <tr class="active">
                    <th style="width: 60%">
                        <i class="fa fa-gears"></i>
                        {{proj.Name}}
                    </th>
                    <th>
                        Pracovník
                    </th>
                    <th>
                        Začátek
                    </th>
                    <th>
                        Čas
                    </th>
                    <th>
                        <div class="pull-right" ng-if="projectsTasks[proj.Id] != null">
                            <span ng-if="proj.View === 1">{{month}}</span>  {{projectsTasks[proj.Id].Finished + '/' + projectsTasks[proj.Id].Count}}
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody ng-if="filter.projectId === proj.Id">
                <tr ng-repeat="assign in projectAssignments| orderBy: orderByState"
                    ng-class="getAssignmentClass(assign)">
                    <td style="word-wrap: break-word">
                        <span work-type="assign.WorkType"></span>    {{assign.BlockName}} ||  {{assign.Name}} ||  {{assign.Description}}
                    </td>
                    <td>
                        <div>{{users[assign.UserId]}}</div>
                    </td>
                    <td>
                        {{assign.Start | date:'dd.MM.yy HH:mm'}}
                    </td>
                    <td style="{{getStyle(assign)}}">
                        {{assignmentTime(assign)}}
                    </td>
                    <td>
                        <div ng-if="userId === assign.UserId || assign.StartRun == null" style="white-space: nowrap;">
                            <button class="btn btn-primary" type="button" ng-if="canRun()" ng-click="start(assign)"><i class="fa fa-play" aria-hidden="true"></i></button>
                            <button class="btn btn-primary" type="button" ng-if="assign.StartRun != null" ng-click="pause(assign)"><i class="fa fa-pause" aria-hidden="true"></i></button>
                            <button class="btn btn-danger" type="button" ng-if="assign.Start != null && assign.UserId === userId && assign.Stop == null" ng-click="stop(assign)"><i class="fa fa-stop" aria-hidden="true"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="modal != null">
        <div class="modal fade in" style="display:block" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="modal.cancel()">&times;</button>
                        <h4 class="modal-title">{{modal.title}}</h4>
                    </div>
                    <div class="modal-body">
                        {{modal.text}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="modal.action()">Ano</button>
                        <button type="button" class="btn btn-default" ng-click="modal.cancel()">Ne</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-backdrop in"></div>
    </div>

</div>
@section scripts{
    @Scripts.Render("~/Scripts/models/Tasks.js".JSVersion())
}