@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
// @import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);

/* Font Smoothing */
.alert,
.brand,
.display-1,
.display-2,
.display-3,
.display-4,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.navbar,
a,
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Poppins, Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: $font-weight-normal;
}

.cr-app {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
}

.pointer {
  cursor: pointer;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  .row > [class^="col-"] {
    margin-bottom: 1rem;
  }
}

._loading_overlay_overlay {
  margin-top: -10px !important;
  background: rgba(0, 0, 0, 0.4) !important;
}
