﻿@using Web.Extensions;
<!DOCTYPE html>
<html ng-app="app">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130824553-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-130824553-1');
        </script>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><i class="fa fa-home" aria-hidden="true"></i> Home</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="/project" class="navbar-brand"><i class="fa fa-gears" aria-hidden="true"></i> Projekty</a>
                        </li>
                    }
                    @if (User.IsAdmin())
                    {
                        <li>
                            <a href="/archive" class="navbar-brand"><i class="fa fa-archive" aria-hidden="true"></i> Archiv</a>
                        </li>
                        <li>
                            <a href="/user" class="navbar-brand"><i class="fa fa-user" aria-hidden="true"></i> Uživatelé</a>
                        </li>
                        <li>
                            <a href="/group" class="navbar-brand"><i class="fa fa-group" aria-hidden="true"></i> Skupiny</a>
                        </li>
                        <li>
                            <a href="/template" class="navbar-brand"><i class="fa fa-folder" aria-hidden="true"></i> Šablony</a>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="/dist/users" class="navbar-brand"><i class="fa fa-folder" aria-hidden="true"></i> Dashboards</a>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" ng-cloak>
        @RenderBody()      
    </div>
    <div id="modal-holder"></div>

    <div class="loader">
        <div class="animation-5">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
            <div class="bar bar4"></div>
            <div class="bar bar5"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-cookies.min.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/models/app.js".JSVersion())
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
