﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Účet je zablokován";
}

<hgroup>
    <h1 class="text-danger">Účet je zablokován.</h1>
    <h2 class="text-danger">Tento účet je zablokován, pro nápravu kontaktujte správce aplikace.</h2>
</hgroup>
