﻿@using Web.Extensions;
<div class="panel panel-default" style="margin-bottom:-2px">
    <div class="panel-heading" style="cursor:pointer" ng-click="state.settings = !state.settings">
        <div style="display: flex">
            <div style="flex:1">
                <i class="fa fa-gears"></i>  {{project.Name}}
            </div>
            <div>
                <i class="fa fa-group"></i>
            </div>
            {{ getGroupName(project.RoleId) }}
        </div>
    </div>

    @if (User.IsAdmin())
    {
        <div class="panel-heading" ng-if="state.settings">
            <div style="display: flex">
                <input class="form-control" autofocus type="text" name="name" ng-model="project.mod.Name" />
                <select id="name" class="form-control" ng-model="project.mod.RoleId" style="max-width: 100%">
                    <option></option>
                    <option ng-repeat="group in groups | filter: { Id: group.Id }" value="{{group.Id}}">{{group.Name}}</option>
                </select>
                <div style="flex:1"></div>
                <div class="btn btn-primary" ng-click="updateProject()" ng-disabled="!isProjectEdited()"><i class="fa fa-check"></i> Uložit</div>
            </div>
        </div>

        <div class="panel-body" ng-if="state.settings">
            <div style="display: flex">
                <div class="btn" ng-class="{'btn-primary': project.View === 0 }" ng-click="changeView(0,0)"> Celkový </div>
                <div class="btn" ng-class="{'btn-primary': project.View === 1 }" ng-click="changeView(1,0)"> Měsíční </div>
                <div style="flex:1">
                </div>
                <label style="padding-right:10px" ng-if="project.CloseDate == null"><input type="checkbox" ng-model="project.Planned" ng-change="plannedChanged()">Plánováno</label>
                <div ng-if="project.CloseDate == null" class="btn btn-primary" ng-disabled="!canCloseProject()" ng-click="closeProject()">Uzavřít</div>
                <div ng-if="project.CloseDate != null" class="btn btn-primary" ng-click="openProject()">Otevřít</div>
                <div class="btn btn-primary" ng-click="archiveTasks()" ng-disabled="!canArchive()">Archivovat dokončené</div>
            </div>
        </div>
    }
</div>

<div class="panel panel-default" ng-if="project.View === 0">
    <div class="row" style="display:flex; padding:0 15px 0 30px">
        <div style="flex:1">Plánované dokončení projektu </div>
        <div ng-if="!state.setTargetDate">
            @if (User.IsAdmin())
            {
                <div>
                    <div class="btn btn-primary" ng-click="state.setTargetDate = true" style="width:100%">{{project.TargetDate ? (project.TargetDate|date:'dd.MM.yyyy') : 'Zadat cílové datum' }}</div>
                </div>
            }
            else
            {
                <div ng-if="project.TargetDate">
                    <div ng-disabled="true" class="btn btn-primary" style="width:100%">{{(project.TargetDate|date:'dd.MM.yyyy') }}</div>
                </div>
            }
        </div>
        <div ng-if="state.setTargetDate" style="display:flex;">
            <input style="width:100%" autofocus class="form-control" type="date" ng-model="project.tDate" />
            <div style="flex:1" class="btn btn-primary" ng-click="saveTargetDate()"><i class="fa fa-check"></i></div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="project.View === 1" style="display:flex">
    <div class="btn btn-primary" ng-click="changeView(1, state.months + 1)">
        <i class="fa fa-arrow-circle-left"></i> Předchozí
    </div>
    <div style="flex:1; text-align:center">{{ getDate() }}</div>
    <div class="btn btn-primary" ng-click="changeView(1, state.months - 1)" ng-disabled="state.months < 1">
        <i class="fa fa-arrow-circle-right"></i> Následující
    </div>
</div>