﻿
<div class="height-max">
    <button class="btn" ng-class="{'btn-primary': state.listProjects === -1}" style="width:100%" ng-click="state.listProjects = -1">Plánované</button>
    <div ng-if="state.listProjects === -1">
        <a href="#" class="list-group-item" ng-class="{'active': proj.Id === project.Id}" ng-repeat="proj in projects | filter: filterProjects " ng-click="select(proj)">
            <h4 class="list-group-item-heading">{{proj.Name}}</h4>
            <div class="list-group-item-text">
                {{getGroupName(proj.RoleId) || "-"}}
                <div ng-if="proj.CloseDate != null" class="pull-right"> <i class="fa fa-archive"></i> {{proj.CloseDate| date:'d.M.yyyy'  }} </div>
            </div>
        </a>
    </div>
    <hr />
    <button ng-class="{'btn-primary': state.listProjects === 0}" style="width:100%" class="btn" ng-click="state.listProjects = 0">Aktuální</button>
    <div ng-if="state.listProjects === 0">
        <a href="#" class="list-group-item" ng-class="{'active': proj.Id === project.Id}" ng-repeat="proj in projects | filter: filterProjects " ng-click="select(proj)">
            <h4 class="list-group-item-heading">{{proj.Name}}</h4>
            <div class="list-group-item-text">
                {{getGroupName(proj.RoleId) || "-"}}
                <div ng-if="proj.CloseDate != null" class="pull-right"> <i class="fa fa-archive"></i> {{proj.CloseDate| date:'d.M.yyyy'  }} </div>
            </div>
        </a>
    </div>
    <hr />
    <button ng-class="{'btn-primary': state.listProjects === 1}" style="width:100%" class="btn" ng-click="state.listProjects = 1">Dokončené</button>
    <div ng-if="state.listProjects === 1">
        <a href="#" class="list-group-item" ng-class="{'active': proj.Id === project.Id}" ng-repeat="proj in projects | filter: filterProjects  " ng-click="select(proj)">
            <h4 class="list-group-item-heading">{{proj.Name}}</h4>
            <div class="list-group-item-text">
                {{getGroupName(proj.RoleId) || "-"}}
                <div ng-if="proj.CloseDate != null" class="pull-right"> <i class="fa fa-archive"></i> {{proj.CloseDate| date:'d.M.yyyy'  }} </div>
            </div>
        </a>
    </div>
</div>