﻿@using Web.Extensions
@{
    ViewBag.Title = "Projekt";
}

<div ng-controller="projectCtrl">
    <div class="col-sm-3">
        @Html.Partial("_ProjectsList")
    </div>
    <div class="col-sm-9">

        @* Project info  *@
        <div ng-if="project.Id > 0">

            @Html.Partial("_Header")

            <div>
                <div class="panel panel-default" ng-show="state.showDetail">
                    <div class="panel-heading" style="display:flex">
                        <div style="flex: 1; cursor:pointer" ng-click="state.showDetail = false">
                            <i class="fa fa-wrench"></i> Zámečníci
                        </div>

                        <div ng-if="project.View === 0">
                            <div style="display:flex" ng-if="project.CloseDate == null">
                                <div style="padding: 0 15px 0 0">
                                    <i class="fa fa-group"></i>
                                </div>

                                @if (User.IsAdmin())
                                {
                                    <input class="form-control" type="number" min="0" ng-model="project.WorkersAs" ng-change="workersChanged(1, project.WorkersAs)" style="width:80px; margin-right:10px" />
                                }
                                else
                                {
                                    <input class="form-control" type="number" disabled="disabled" min="0" ng-model="project.WorkersAs" style="width:80px; margin-right:10px" />
                                }
                                <div style="flex:1"></div>
                                <div>
                                    <i class="fa fa-calendar"></i>  {{ project.WorkersAs === 0 ? '-' : getFinishedDay(1,project.WorkersAs) | date: 'dd.MM.yyyy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 15px">
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁN
                                    <span class="pull-right">{{projectTimes[1].state.finished}}/{{projectTimes[1].state.total}}</span>
                                </div>
                                <div class="panel-body" ng-class="{'back-green': projectTimes[1].plan.duration <= 0 , 'back-red': projectTimes[1].plan.duration > 0 }">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[1].plan.hours}}</td>
                                            <td>{{projectTimes[1].plan.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁNOVÁNO
                                </div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[1].planned.hours}}</td>
                                            <td>{{projectTimes[1].planned.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">ODPRACOVÁNO</div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[1].finished.hours}}</td>
                                            <td>{{projectTimes[1].finished.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="state.showDetail">
                    <div class="panel-heading" style="display:flex">
                        <div style="flex: 1; cursor:pointer" ng-click="state.showDetail = false">
                            <i class="fa fa-bolt"></i> Elektro
                        </div>
                        <div ng-if="project.View === 0">
                            <div style="display:flex" ng-if="project.CloseDate == null">
                                <div style="padding: 0 15px 0 0">
                                    <i class="fa fa-group"></i>
                                </div>

                                @if (User.IsAdmin())
                                {
                                    <input class="form-control" type="number" min="0" ng-model="project.WorkersEl" ng-change="workersChanged(2, project.WorkersEl)" style="width:80px; margin-right:10px" />
                                }
                                else
                                {
                                    <input class="form-control" type="number" disabled="disabled" min="0" ng-model="project.WorkersEl" style="width:80px; margin-right:10px" />
                                }
                                <div style="flex:1"></div>
                                <div>
                                    <i class="fa fa-calendar"></i>  {{ project.WorkersEl === 0 ? '-' : getFinishedDay(2,project.WorkersEl) | date: 'dd.MM.yyyy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 15px">
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁN
                                    <span class="pull-right">{{projectTimes[2].state.finished}}/{{projectTimes[2].state.total}}</span>
                                </div>
                                <div class="panel-body" ng-class="{'back-green': projectTimes[2].plan.duration <= 0 , 'back-red': projectTimes[2].plan.duration > 0 }">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[2].plan.hours}}</td>
                                            <td>{{projectTimes[2].plan.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁNOVÁNO
                                </div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[2].planned.hours}}</td>
                                            <td>{{projectTimes[2].planned.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">ODPRACOVÁNO</div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[2].finished.hours}}</td>
                                            <td>{{projectTimes[2].finished.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" ng-show="!state.showDetail">
                    <div class="panel-heading" style="display:flex">
                        <div style="flex: 1; cursor:pointer" ng-click="state.showDetail = true">
                            <i class="fa fa-wrench"></i> <i class="fa fa-plus"></i>   <i class="fa fa-bolt"></i> Projekt
                        </div>
                        <div ng-if="project.View === 0">
                            <div style="display:flex" ng-if="project.CloseDate == null">
                                <div style="padding: 0 15px 0 0">
                                    <i class="fa fa-group"></i>
                                </div>
                                <input class="form-control" type="number" disabled="disabled" min="0" value="{{project.WorkersEl + project.WorkersAs}}" style="width:80px; margin-right:10px" />

                                <div style="flex:1"></div>
                                <div>
                                    <i class="fa fa-calendar"></i>  {{ project.WorkersEl + project.WorkersAs === 0 ? '-' : getFinishedDay(3,project.WorkersEl + project.WorkersAs) | date: 'dd.MM.yyyy' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 15px">
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁN
                                    <span class="pull-right">{{projectTimes[3].state.finished}}/{{projectTimes[3].state.total}}</span>
                                </div>
                                <div class="panel-body" ng-class="{'back-green': projectTimes[3].plan.duration <= 0 , 'back-red': projectTimes[3].plan.duration > 0 }">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[3].plan.hours}}</td>
                                            <td>{{projectTimes[3].plan.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    PLÁNOVÁNO
                                </div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[3].planned.hours}}</td>
                                            <td>{{projectTimes[3].planned.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 panel-time">
                            <div class="panel panel-default">
                                <div class="panel-heading">ODPRACOVÁNO</div>
                                <div class="panel-body">
                                    <table style="width:100%; text-align:center">
                                        <tr style="font-size: 13px">
                                            <td>Hodiny</td>
                                            <td>Minuty</td>
                                        </tr>
                                        <tr style="font-size: 19px">
                                            <td>{{projectTimes[3].finished.hours}}</td>
                                            <td>{{projectTimes[3].finished.minutes}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*table*@
                <div class="panel panel-default" style="margin-bottom: 0">
                    <div class="panel-heading" style="display:flex">
                        <div class="btn" ng-click="state.tab = 'users'" ng-class="state.tab == 'users' ? 'btn-primary' : 'btn-default'">Pracovnící</div>
                        <div class="btn" ng-click="state.tab = 'tasks'" ng-class="state.tab == 'tasks' ? 'btn-primary' : 'btn-default'">Úkoly</div>
                        <div style="flex:1"></div>

                        @*@if (User.IsAdmin())
                            {
                                <div class="btn btn-default" ng-click="state.tab = 'find'" ng-class="state.tab == 'find' ? 'btn-primary' : 'btn-default'">Přidat existující úkoly</div>
                            }*@
                        <div ng-if="state.tab === 'tasks'" style="display:flex">
                            <input class="form-control" type="text" placeholder="Hledat" ng-model="state.search" ng-change="filterTask()" />
                            <button class="btn btn-default" ng-click="state.search = ''">X</button>
                        </div>
                    </div>

                    <div ng-if="state.tab === 'users'" style="font-size:16px;" class="height-project">
                        <table class="table" style="margin-bottom: 0">
                            <tr ng-repeat="usr in users | orderBy: orderByLength" ng-if="usr.assignments.length > 0 || (project.RoleId === usr.GroupId && !usr.Disabled)">
                                <td style="width:165px">
                                    <span class="badge" style="vertical-align: bottom">{{usr.assignments.length}}</span>
                                    <span>{{usr.UserName}}</span>
                                    <i class="fa fa-group pull-right" ng-if="project.RoleId === usr.GroupId"></i>
                                </td>
                                <td style="overflow:hidden; max-width:400px; white-space:nowrap" ng-if="usr.assignment != null"><span work-type="usr.assignment.WorkType"></span> {{usr.assignment.BlockName}} || {{usr.assignment.Name}} || {{usr.assignment.Description}} </td>
                                <td ng-if="usr.assignment == null"> - </td>
                                <td>{{ usr.assignment != null ? durationTime(usr.assignment.ExpectedDuration): '' }}</td>
                                <td ng-class="getTaskColor(usr.assignment)">{{ duration(usr.assignment) }}</td>
                            </tr>
                        </table>
                    </div>

                    <div ng-if="state.tab === 'tasks'" style="font-size:16px;" class="height-project">

                        <table class="table" style="margin-bottom: 0">
                            <tr ng-repeat="assign in assignments | filter: state.search | orderBy: orderByState" edit-assignment="assign" users="users" groups="groups" projects="projects" callback="editCallback">
                                <td style="overflow:hidden; white-space:nowrap; max-width:400px">
                                    <i class="fa" ng-class="getStateClass(assign)"></i>
                                    <span work-type="assign.WorkType"></span>
                                    {{ assign.BlockName }} || {{ assign.Name }} || {{ assign.Description }}
                                </td>
                                <td>{{ getUserName(assign.UserId) }}</td>
                                <td>{{ durationTime(assign.ExpectedDuration) }}</td>
                                <td ng-class="getTaskColor(assign)">{{ duration(assign) }}</td>
                            </tr>
                        </table>
                    </div>

                    @if (User.IsAdmin())
                    {
                        <div class="panel-body" ng-if="state.tab === 'find'">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Název</label>
                                    <div class="col-sm-8">
                                        <input id="name" class="form-control" ng-model="state.projectName" />
                                    </div>
                                    <div class="btn btn-primary" ng-click="findProject()">Hledat</div>
                                </div>
                            </div>
                        </div>



                        <div ng-if="state.tab === 'find' && found.length > 0" class="height-project">
                            <table style="width: 100%; font-size:15px;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-user" aria-hidden="true"></i> Uživatel
                                        </th>
                                        <th>
                                            <i class="fa fa-group" aria-hidden="true"></i> Skupina
                                        </th>
                                        <th style="width: 50%">
                                            <i class="fa fa-user" aria-hidden="true"></i> Úkol
                                        </th>
                                        <th>
                                            <i class="fa fa-stop" aria-hidden="true"></i> Konec
                                        </th>
                                        <th style="width: 35px">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="assign in found">
                                        <td>
                                            <div>
                                                {{getUserName(assign.UserId)}}
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                {{getGroupName(assign.RoleId)}}
                                            </div>
                                        </td>
                                        <td style="word-wrap: break-word">
                                            <span work-type="assign.WorkType"></span>  {{ assign.BlockName }} || {{assign.Name}} || {{assign.Description}}
                                        </td>
                                        <td>
                                            {{assign.Stop | date:'dd.MM.yy HH:mm'}}
                                        </td>
                                        <td>
                                            <button class="btn btn-default" ng-click="removeFound(assign)"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="state.tab === 'find' && found.length > 0" style="display:flex">
                            <div style="flex:1"></div>
                            <div class="btn btn-primary" ng-click="addToProject()">Přidat do projektu</div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (User.IsAdmin())
    {
        @Html.Partial("~/Views/Shared/Modals/_EditAssignment.cshtml");
    }

    @section scripts{
        @Scripts.Render("~/Scripts/models/Project.js".JSVersion())
    }
