﻿<script type="text/ng-template" id="editAssignment.html">
    <div>
        <div class="modal-dialog modal-big" style="position:fixed; top:20px; left:0;right: 0;max-height: calc(100vh);overflow-y: auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">&times;</button>
                    <h4 class="modal-title">Upravit úkol</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Projekt</label>
                            <div class="col-sm-10">
                                <div>
                                    <select id="name" class="form-control" convert-to-number ng-model="assignment.ProjectId">
                                        <option></option>
                                        <optgroup label="Aktivní">
                                            <option ng-repeat="proj in projects| filter: {Planned: false, CloseDate: null} | orderBy: 'Name'" value="{{proj.Id}}">{{proj.Name}}</option>
                                        </optgroup>

                                        <optgroup label="Plánované">
                                            <option ng-repeat="proj in projects | filter: {Planned: true, CloseDate: null} | orderBy: 'Name'" value="{{proj.Id}}">{{proj.Name}}</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Skupina</label>
                            <div class="col-sm-10">
                                <select id="name" class="form-control" ng-model="assignment.RoleId" style="max-width: 100%">
                                    <option></option>
                                    <option ng-repeat="group in groups | filter: { Id: group.Id }" value="{{group.Id}}">{{group.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Pracovník</label>
                            <div class="col-sm-10">
                                <select id="user" ng-model="assignment.UserId" class="form-control" style="max-width: 100%">
                                    <option></option>
                                    <option ng-repeat="user in users | filter: {GroupId: null} |filter: {GroupId: group.Id }" value="{{user.Id}}" ng-if="!user.Disabled">{{user.UserName}}</option>
                                    <optgroup label="{{gr.Name}}" ng-repeat="gr in groups | filter: { Id: group.Id }">
                                        <option ng-repeat="user in users | filter: {GroupId: gr.Id }" value="{{user.Id}}" ng-if="!user.Disabled">{{user.UserName}}</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Odbornost</label>
                            <div class="col-sm-10">
                                <select id="name" class="form-control" ng-model="assignment.WorkType" convert-to-number style="max-width: 100%">
                                    @*<option value="0">Ostatní</option>*@
                                    <option value="1">Zámečník</option>
                                    <option value="2">Elektro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                                <label class="control-label">Plánováný Čas</label>
                                <div class="input-group">
                                    <input type="number" ng-change="expectedDurationChanged()" class="form-control input-duration" ng-model="assignment.expectedDuration.hours" min="0">
                                    <div class="input-group-addon">hodin</div>
                                </div>

                                <div class="input-group">
                                    <input type="number" ng-change="expectedDurationChanged()" class="form-control input-duration" ng-model="assignment.expectedDuration.minutes" min="0" max="59">
                                    <div class="input-group-addon">minut</div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-sm-offset-2" ng-show="assignment.Id != null">
                                <label class="control-label" ng-show="assignment.Id != null">Odpracovaný Čas</label>
                                <div class="input-group">
                                    <input type="number" ng-change="durationChanged()" disabled class="form-control input-duration" ng-model="assignment.duration.hours" min="0">
                                    <div class="input-group-addon">hodin</div>
                                </div>
                                <div class="input-group">
                                    <input type="number" ng-change="durationChanged()" disabled class="form-control input-duration" ng-model="assignment.duration.minutes" min="0" max="59">
                                    <div class="input-group-addon">minut</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Název</label>
                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text" ng-model="assignment.Name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Název bloku</label>
                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text" ng-model="assignment.BlockName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">Abra Kód</label>
                            <div class="col-sm-10">
                                <input id="name" class="form-control" type="text" ng-model="assignment.Code" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Popis</label>
                            <div class="col-sm-10">
                                <textarea id="description" class="form-control" rows="2" style="width: 100%" ng-model="assignment.Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Stav</label>
                            <div class="col-sm-10">
                                <button class="btn" ng-class="isActive(start) ? 'btn-danger': 'btn-primary'" ng-click="start()" ng-disabled="assignment.UserId == null"><i class="fa fa-play" /></button>
                                <button class="btn" ng-class="isActive(pause) ? 'btn-danger': 'btn-primary'" ng-click="pause()" ng-disabled="assignment.UserId == null"><i class="fa fa-pause" /></button>
                                <button class="btn" ng-class="isActive(stop) ? 'btn-danger': 'btn-primary'" ng-click="stop()"><i class="fa fa-stop" /></button>
                            </div>
                        </div>
                        <div class="form-group" ng-if="assignment.Stop != null">
                            <label for="description" class="col-sm-2 control-label">Archivovat</label>
                            <div class="col-sm-10">
                                <input style="transform: scale(1.5);" type="checkbox" class="form-check-input" ng-model="assignment.Archived" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/dist/task/{{assignment.Id}}" ng-if="assignment.Id != null" class="btn btn-primary btn-sm pull-left"> <i class="fa fa-info"></i> Pracovní Časy</a>
                    <button type="button" ng-if="assignment.Id == null" class="btn btn-primary btn-lg" ng-click="ok(assignment)">Vytvořit</button>
                    <button type="button" ng-if="assignment.Id != null" class="btn btn-primary btn-lg" ng-click="ok(assignment)" ng-disabled="isInvalid(assignment)">Upravit</button>
                    <button type="button" ng-if="assignment.Id != null" class="btn btn-primary btn-lg" ng-click="cancel()">Zrušit</button>
                </div>
            </div>
        </div>
        <div class="modal-backdrop in" style="z-index:1039" ng-click="cancel()"></div>
    </div>
</script>