// Demo Pages
.ButtonPage {
  .btn {
    margin: 4px;
  }

  .btn-group {
    .btn {
      margin: 0;
    }
  }
}

.TablePage {
  .card-body {
    overflow: hidden;
  }
}

.icon-rounded {
  display: inline-block;
  background: gray;
  color: white;
  border-radius: 50%;
  padding: 0.3em; /* adjust padding */
  line-height: initial !important; /* reset line-height */
  height: 1.7em;
  width: 1.7em;
  text-align:center;
}

