﻿@using Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Přihlášení";
}

<div ng-controller="loginController">

    <div class="col-sm-8" style="display:flex">
        <h2 style="flex:1">@ViewBag.Title</h2>
        <h2 ng-if="(!vm.isMobile && !vm.useRFID) || (vm.isMobile && vm.useRFID)" style="cursor:pointer" ng-click="lockView()">
            <i class="fa" ng-class="isViewLocked ? 'fa-lock' : 'fa-unlock-alt'"></i>
        </h2>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <section id="loginForm">

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <ul class="nav nav-tabs nav-justified" style="display:inline-flex">
                        <li style="flex:1" ng-class="{'active': !vm.useRFID}" ng-click="vm.useRFID = false"><a href="#">Jméno a heslo</a></li>
                        <li style="flex:1" ng-class="{'active': vm.useRFID}" ng-click="vm.useRFID = true"><a href="#">RFID Čip</a></li>
                    </ul>

                    <div ng-show="vm.useRFID" class="login-tab text">
                        @Html.ValidationMessage("rfidError", new { @class = "text-danger" })
                        <h2> Přiložte RFID čip ke čtečce </h2>
                    </div>

                    <div ng-show="!vm.useRFID" class="login-tab">
                        @Html.AntiForgeryToken()
                        @Html.ValidationMessage("userError", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-6">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/models/Login.js".JSVersion())
}