﻿@{
    ViewBag.Title = "Skupiny";
}

<div ng-controller="groupCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
            <div ng-show="!showDisabled" class="btn btn-primary pull-right" ng-click="showDisabled = true">Zobrazit zakázané uživatele</div>
            <div ng-show="showDisabled" class="btn btn-primary pull-right" ng-click="showDisabled = false">Skrýt zakázané uživatele</div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Název</label>
                    <div class="col-sm-6">
                        <input id="name" class="form-control" ng-model="group.Name" />
                    </div>
                    <div class="col-sm-4">
                        <div class="pull-right">
                            <button type="button" ng-if="group.Id == null" class="btn btn-primary btn-lg" ng-click="create()" ng-disabled="isInvalid()">Vytvořit</button>
                            <button type="button" ng-if="group.Id != null" class="btn btn-primary btn-lg" ng-click="update()" ng-disabled="isInvalid()">Upravit</button>
                            <button type="button" ng-if="group.Id != null" class="btn btn-primary btn-lg" ng-click="select({})">Zrušit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <ul class="list-group">
                <li class="list-group-item" style="background-color:#eeeeee">
                    <h4>Skupiny</h4>
                </li>
                <li class="list-group-item" ng-class="{active:gr.Id === group.Id}" ng-repeat="gr in groups" style="word-break:break-all" ng-click="select(gr)">
                    <h4 class="badge">
                        <i class="fa fa-trash" style="font-size:2rem; cursor: pointer " ng-click="deleteGroup(gr.Id)"></i>
                    </h4>
                    <h4 style="width:80%">{{gr.Name}}</h4>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6" ng-show="group.Id != null">
            <ul class="list-group">
                <li class="list-group-item" style="background-color:#eeeeee">
                    <h4>
                        Členové
                    </h4>
                </li>
                <li class="list-group-item" ng-repeat="user in users" ng-show="user.GroupId === group.Id" ng-if="showDisabled || !user.Disabled" style="word-break:break-all">
                    <h4 class="badge">
                        <i class="fa fa-minus" style="font-size:2rem; cursor: pointer" ng-click="removeFromGroup(user)"></i>
                    </h4>
                    <h4 style="width:80%">{{user.UserName}}</h4>
                </li>
            </ul>
            <hr />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="user in users" ng-show="user.GroupId == null" ng-if="showDisabled || !user.Disabled" style="word-break:break-all">
                    <h4 class="badge">
                        <i class="fa fa-plus" style="font-size:2rem; cursor: pointer" ng-click="addToGroup(user)"></i>
                    </h4>
                    <h4 style="width:80%">{{user.UserName}}</h4>
                </li>
            </ul>
        </div>
    </div>
</div>






@section scripts{
    @Scripts.Render("~/Scripts/models/Group.js".JSVersion())
}
