﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.full-width {
    width: 90vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -45vw;
    margin-right: -45vw;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.btn-nav {
    margin-left: 5px;
}

    .btn-nav:disabled {
        opacity: 0;
    }

.input-duration {
    width: 100px !important;
}

.input-group-addon {
    width: 32%;
}

.panel {
    font-size: 21px !important;
}

.control-label {
    padding-top: 1px !important;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

.primary-header tr th {
    background-color: #dddddd !important
}


/*Tooltip*/
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 250px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        white-space: pre;
        text-align: left;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-top: 5px solid #000;
        border-top: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }


.table-custom {
    margin-bottom: 0px;
}

    .table-custom tbody > tr > td {
        padding: 0px 4px;
        white-space: nowrap;
        height: 33px;
        vertical-align: middle;
    }

.form-group {
    margin-bottom: 5px;
}

.panel-body {
    padding: 5px 15px;
}

.table tfoot > tr > th, .table tbody > tr > td {
    padding: 4px 8px;
}

.multi-table tbody::after {
    content: '';
    display: table-row;
    height: 20px;
}

.back-green {
    background-color: darkseagreen;
}

.back-red {
    background-color: salmon;
}

.input-group-addon {
    padding: 5px 5px;
}

@media screen and (min-width: 768px) {
    .modal-big {
        width: 800px;
    }
}

.height-max {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
}

.height-project {
    height: calc(100vh - 492px);
    min-height: 400px;
    overflow-y: auto;
}

.panel-heading {
    padding: 5px 15px;
}

/*PANEL TIMES*/
.panel-time {
    padding: 0 0;
}

    .panel-time > .panel {
        margin-bottom: 0;
    }

        .panel-time > .panel > .panel-heading {
            padding: 0 15px;
            font-size: 14px;
        }

        .panel-time > .panel > .panel-body {
            padding: 0;
            font-size: 14px;
        }

/* Login */
.login-tab {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #dddddd;
    border-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

    .login-tab.text {
        text-align: center;
    }

.active {
    font-weight: bold;
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }
}

/* loading */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
    display: none;
}

.loading > .loader {
    display: block;
}

.animation-5 {
    width: 117px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
}

    .animation-5 div {
        height: 30px;
        width: 10px;
        background-color: #005AA2;
        display: inline-block;
        margin-right: 10px;
        -webkit-animation: animation5-bar 1s infinite;
        animation: animation5-bar 1s infinite;
    }

    .animation-5 .bar1 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }

    .animation-5 .bar2 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }

    .animation-5 .bar3 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }

    .animation-5 .bar4 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }

    .animation-5 .bar5 {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

@keyframes animation5-bar {
    30% {
        transform: scaleY(2);
    }
}

@media (max-width: 768px ) {
    .modal-body {
        padding: 5px 20px;
    }

    .modal-footer {
        margin-top: unset;
    }
}

/*Template page styles*/
.template-page .table td {
    white-space: nowrap;
    overflow-x: hidden;
}


/*Home planner - teplate table*/
.template-row:hover {
    background-color: #adadad;
}
