﻿@{
    ViewBag.Title = "Archiv";
}

<div ng-controller="archiveCtrl" class="full-width well">
    <div class="pull-left">
        <button type="submit" class="btn btn-primary" ng-click="download()">Export do CSV</button>
        <nav>
            <ul class="pagination">
                <li ng-class="{disabled: pagination.current <= 0}" ng-click="pagination.goTo(pagination.current - 1)"><a class="btn" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li ng-if="pagination.current > 0"><a class="btn" ng-click="pagination.goTo(pagination.current - 1)">{{pagination.current}}</a></li>
                <li class="active"><a class="btn">{{pagination.current + 1}}</a></li>
                <li ng-if="pagination.current < pagination.pages()" ng-click="pagination.goTo(pagination.current + 1)"><a class="btn">{{pagination.current + 2}}</a></li>
                <li ng-class="{disabled: pagination.current >= pagination.pages()}" ng-click="pagination.goTo(pagination.current + 1)"><a class="btn" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="pull-right" style="width: 300px">
        @*<i class="fa fa-search pull-left" aria-hidden="true" style="padding: 6px 12px"></i><input class="form-control pull-right" style="width: 80%"/>*@
        <input type="checkbox" ng-model="strict" /> Rozlišovat velká a mála písmena
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control" ng-model="search" placeholder="Hledat">
            <span class="input-group-addon">
                <i class="fa" ng-class="search === '' || search == null ? 'fa-search' : 'fa-times'" aria-hidden="true"></i>
            </span>
        </div>
    </div>


    <table style="width: 100%; table-layout: fixed;" class="table table-striped">
        <thead ng-click="toggleDetail(user.Id)" style="cursor: pointer">
            <tr class="active">

                <th ng-click="orderBy('user')">
                    <i class="fa fa-user" aria-hidden="true"></i> Uživatel
                    <span class="sortorder pull-right" ng-show="property === 'user'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="orderBy('project')">
                    <i class="fa fa-gears" aria-hidden="true"></i> Projekt
                    <span class="sortorder pull-right" ng-show="property === 'project'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="orderBy('role')">
                    <i class="fa fa-group" aria-hidden="true"></i> Skupina
                    <span class="sortorder pull-right" ng-show="property === 'role'" ng-class="{reverse: reverse}"></span>
                </th>
                <th style="width: 50%" ng-click="orderBy('Description')">
                    <i class="fa fa-user" aria-hidden="true"></i> Úkol
                    <span class="sortorder pull-right" ng-show="property === 'Description'" ng-class="{reverse: reverse}"></span>
                </th>
                @*<th ng-click="orderBy('Created')">
                       <i class="fa fa-plus" aria-hidden="true"></i> Vytvořen
                       <span class="sortorder pull-right" ng-show="property === 'Created'" ng-class="{reverse: reverse}"></span>
                    </th>*@
                <th ng-click="orderBy('Start')">
                    <i class="fa fa-play" aria-hidden="true"></i> Začátek
                    <span class="sortorder pull-right" ng-show="property === 'Start'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="orderBy('Stop')">
                    <i class="fa fa-stop" aria-hidden="true"></i> Konec
                    <span class="sortorder pull-right" ng-show="property === 'Stop'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="orderBy('Duration')">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Čas
                    <span class="sortorder pull-right" ng-show="property === 'Duration'" ng-class="{reverse: reverse}"></span>
                </th>
                <th style="width: 35px">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="assign in assignments | filterStrict:search:strict | orderBy:property:reverse" ng-if="$index >= pagination.from() && $index < pagination.to() " edit-assignment="assign" users="users" groups="groups" projects="projects">
                <td>
                    <div>
                        {{assign.user}}
                    </div>
                </td>
                <td>
                    <div>
                        {{assign.project}}
                    </div>
                </td>
                <td>
                    <div>
                        {{assign.role}}
                    </div>
                </td>
                <td style="word-wrap: break-word">
                    <span work-type="assign.WorkType"></span>  {{assign.BlockName }} ||  {{assign.Name}} || {{assign.Description}}
                </td>
                @*<td>
                       {{assign.Created | date:'dd.MM.yy HH:mm'}}
                    </td>*@
                <td>
                    {{assign.Start | date:'dd.MM.yy HH:mm'}}
                </td>
                <td>
                    {{assign.Stop | date:'dd.MM.yy HH:mm'}}
                </td>
                <td ng-class="getClass(assign)" data-tooltip="{{ 'Plánovaný čas : ' + getExpectedDuration(assign.ExpectedDuration) +  ' &#xa;Odpracovaný čas : '  + getExpectedDuration(assign.Duration) }}">
                    {{assignmentTime(assign)}}
                </td>
                <td>
                    <button ng-click="delete(assign)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li ng-class="{disabled: pagination.current <= 0}" ng-click="pagination.goTo(pagination.current - 1)"><a class="btn" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-if="pagination.current > 0"><a class="btn" ng-click="pagination.goTo(pagination.current - 1)">{{pagination.current}}</a></li>
            <li class="active"><a class="btn">{{pagination.current + 1}}</a></li>
            <li ng-if="pagination.current < pagination.pages()" ng-click="pagination.goTo(pagination.current + 1)"><a class="btn">{{pagination.current + 2}}</a></li>
            <li ng-class="{disabled: pagination.current >= pagination.pages()}" ng-click="pagination.goTo(pagination.current + 1)"><a class="btn" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </nav>
</div>

@Html.Partial("~/Views/Shared/Modals/_EditAssignment.cshtml");

@section scripts{
    @Scripts.Render("~/Scripts/models/Archive.js".JSVersion())
}