﻿@{
    ViewBag.Title = "Uživatelé";
}

<div ng-controller="userCtrl">

    <div class="row">
        @* USER CREATE/UPDATE *@
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @ViewBag.Title
                    <div ng-show="!showDisabled" class="btn btn-primary pull-right" ng-click="showDisabled = true">Zobrazit zakázané uživatele</div>
                    <div ng-show="showDisabled" class="btn btn-primary pull-right" ng-click="showDisabled = false">Skrýt zakázané uživatele</div>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Jméno(login)</label>
                            <div class="col-sm-7">
                                <input id="name" class="form-control" ng-model="user.UserName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label">Administrátor</label>
                            <div class="col-sm-7">
                                <input type="checkbox" style="height:25px; width:25px;" class="form-check-input" ng-model="user.IsAdmin">
                            </div>
                        </div>
                        <div class="form-group" ng-hide="user.IsAdmin">
                            <label class="col-sm-5 control-label">Skupina</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="user.GroupId">
                                    <option ng-repeat="gr in groups" value="{{gr.Id}}">{{gr.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-hide="user.IsAdmin">
                            <label class="col-sm-5 control-label">Odbornost</label>
                            <div class="col-sm-7">
                                <select id="name" class="form-control" ng-model="user.WorkType" convert-to-number>
                                    <option value="0">Ostatní</option>
                                    <option value="1">Zámečník</option>
                                    <option value="2">Elektro</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-sm-offset-12">
                                <div class="pull-right">
                                    <button type="button" ng-if="edited == null" class="btn btn-primary btn-lg" ng-click="create()" ng-disabled="createDisabled()">Vytvořit</button>
                                    <button type="button" ng-if="edited != null" class="btn btn-primary btn-lg" ng-click="update()" ng-disabled="updateDisabled()">Upravit</button>
                                    <button type="button" ng-if="edited != null" class="btn btn-primary btn-lg" ng-click="cancelEdit()">Zrušit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            @* RFID *@
            <div>
                <div class="panel panel-default" ng-if="user.Id != null">
                    <div class="panel-heading">
                        <div style="display:flex">
                            <label style="flex: 1">{{ readTag ? 'Přidat RFID čip' : 'RFID čipy' }}</label>
                            <div class="btn btn-primary" ng-click="setupTag(!readTag)">{{ readTag ? 'Zrušit' : 'Přidat tag' }}</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div ng-if="!readTag">
                                <table class="table table-sm table-striped" style="font-size:14px !important; margin:0px">
                                    <tbody>
                                        <tr ng-repeat="t in tags| filter:{ UserId: user.Id }">
                                            <td>{{t.Code}}</td>
                                            <td>{{ (t.Disabled || t.Created) | date: 'd.M.yyyy'}}</td>
                                            <td class="text-right">
                                                <div class="btn-group btn-group-sm" role="group" aria-label="On/Off tag">
                                                    <button type="button" class="btn" ng-click="enableTag(t,true)" ng-class="t.Disabled ? 'btn-secondary' : 'btn-success'">On</button>
                                                    <button type="button" class="btn" ng-click="enableTag(t,false)" ng-class="t.Disabled ? 'btn-danger' : 'btn-secondary'">Off</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="readTag">
                                <div ng-if="!tagDone">
                                    Přiložte čip ke čtečce
                                </div>
                                <div ng-if="tagDone">
                                    <div>Kód: {{ tag }}</div>
                                    <div ng-if="isValidTag()">
                                        <div class="btn btn-primary pull-right" ng-click="addTagToUser()">Přidat</div>
                                    </div>
                                    <div ng-if="!isValidTag()">
                                        <div>
                                            <i style="color:red" class="fa fa-warning"></i>  {{ tagExist() ? 'Čip je již registrován.' : 'Nevalidní formát.' }}
                                        </div>
                                        <div class="btn btn-primary pull-right" ng-click="setupTag(true)">Zkusit znovu</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* USER ATENDANCE MAPPING *@
            <div>
                <div class="panel panel-default" ng-if="user.Id != null">
                    <div class="panel-heading">
                        <div style="display:flex">
                            <label style="flex: 1">{{ user.Attend ? 'V Docházce': 'Hledat v docházce (příjmení)' }}</label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div ng-if="!search.done || attendUsers.length === 0">
                                <div ng-if="!user.Attend" style="display:flex">
                                    <input class="form-control" type="text" name="name" value="{{user.UserName}}" ng-change="search.done = false" ng-model="user.attendName" />
                                    <button class="btn btn-primary" style="width: 100%; margin-left: 15px;" ng-click="findUser()">Hledat</button>
                                </div>
                                <div ng-if="search.done">Příjmení {{user.attendName}} nenalezeno!</div>
                                <div ng-if="user.Attend">
                                    <table class="table table-sm table-striped" style="font-size:14px !important; margin:0px">
                                        <tbody>
                                            <tr>
                                                <td>{{user.Attend.Name}}</td>
                                                <td>{{user.Attend.Surename}}</td>
                                                <td>{{user.Attend.PersonStartDate | date:'dd.MM.yyyy'}}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-danger" ng-click="mapUser()">Odstranit</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div ng-if="search.done">
                                <table class="table table-sm table-striped" style="font-size:14px !important; margin:0px">
                                    <tbody>
                                        <tr ng-repeat="usr in attendUsers">
                                            <td>{{usr.Name}}</td>
                                            <td>{{usr.Surename}}</td>
                                            <td>{{usr.PersonStartDate | date:'dd-MM-yyyy'}}</td>
                                            <td class="text-right">
                                                <button type="button" class="btn" ng-click="mapUser(usr)" ng-class="t.Disabled ? 'btn-secondary' : 'btn-success'">Přidat</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:calc(100vh - 360px); overflow-y:auto">
        <table style="width: 100%; table-layout: fixed;" class="table table-striped">
            <thead>
                <tr class="active">
                    <th>
                        <i class="fa fa-user" aria-hidden="true"></i> Uživatel
                        <span class="sortorder pull-right" ng-show="property === 'UserId'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <i class="fa fa-group" aria-hidden="true"></i> Skupina
                        <span class="sortorder pull-right" ng-show="property === 'Duration'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th>
                        <i class="fa fa-clock-o" aria-hidden="true"></i> Role
                        <span class="sortorder pull-right" ng-show="property === 'Duration'" ng-class="{reverse: reverse}"></span>
                    </th>
                    <th style="width: 120px">
                    </th>
                    <th style="width: 120px">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-style="edited.Id == user.Id ? { 'outline': '2px solid orange'} : {}" ng-repeat="user in users | orderBy:'UserName'" ng-if="showDisabled || !user.Disabled">
                    <td ng-click="edit(user)">
                        <span ng-style="user.Attend == null && {'color': 'red'} " work-type="user.WorkType"></span> {{user.UserName}}
                    </td>
                    <td ng-click="edit(user)">
                        {{ getGroupName(user.GroupId)}}
                    </td>
                    <td ng-click="edit(user)">
                        {{ user.IsAdmin ? 'Administrator' : 'Pracovník'}}
                    </td>
                    <td>
                        <button ng-click="reset(user.Id)" ng-if="!user.Disabled">Reset hesla</button>
                    </td>
                    <td ng-if="user.Disabled">
                        <button ng-click="disable(user, false)"><i class="fa fa-eye" aria-hidden="true"></i> Povolit</button>
                        <button class="pull-right" ng-click="delete(user.Id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                    <td ng-if="!user.Disabled">
                        <button ng-click="disable(user, true)"><i class="fa fa-eye-slash" aria-hidden="true"></i> Zakázat</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


@section scripts{
    @Scripts.Render("~/Scripts/models/User.js".JSVersion())
}