﻿<div ng-show="template != null">
    <div class="modal-dialog modal-big" style="position:fixed; top:20px; left:0;right: 0;max-height: calc(100vh);overflow-y: auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                <h4 class="modal-title" ng-if="template.Id != null">Upravit šablonu</h4>
                <h4 class="modal-title" ng-if="template.Id == null">Vytvořit šablonu</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Název</label>
                        <div class="col-sm-10">
                            <input id="name" class="form-control" ng-model="template.Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Blok úkolů</label>
                        <div class="col-sm-10">
                            <select id="name" class="form-control" ng-model="template.BlockId">
                                <option></option>
                                <option ng-repeat="block in blocks" ng-if="block.Id > 0" value="{{block.Id}}">{{block.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">ABRA Kód</label>
                        <div class="col-sm-10">
                            <input id="name" class="form-control" ng-model="template.Code" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Skupina</label>
                        <div class="col-sm-10">
                            <select id="name" class="form-control" ng-model="template.RoleId">
                                <option></option>
                                <option ng-repeat="group in groups" value="{{group.Id}}">{{group.Name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Odbornost</label>
                        <div class="col-sm-10">
                            <select id="name" class="form-control" ng-model="template.WorkType" convert-to-number>
                                <option value="1">Zámečník</option>
                                <option value="2">Elektro</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Čas</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <input type="number" ng-change="durationChanged()" class="form-control input-duration" ng-model="duration.hours" min="0">
                                <div class="input-group-addon">hodin</div>
                            </div>

                            <div class="input-group">
                                <input type="number" ng-change="durationChanged()" class="form-control input-duration" ng-model="duration.minutes" min="0" max="59">
                                <div class="input-group-addon">minut</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">Popis</label>
                        <div class="col-sm-10">
                            <textarea id="description" class="form-control" rows="4" style="width: 100%" ng-model="template.Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-if="template.Id == null" class="btn btn-primary btn-lg" ng-click="create()" ng-disabled="isInvalid()">Vytvořit</button>
                <button type="button" ng-if="template.Id != null" class="btn btn-primary btn-lg" ng-click="update()" ng-disabled="isInvalid()">Upravit</button>
                <button type="button" class="btn btn-primary btn-lg" ng-click="template = null">Zrušit</button>
            </div>
        </div>
    </div>
    <div class="modal-backdrop in" style="z-index:1039" ng-click="cancel()"></div>
</div>