﻿@{
    ViewBag.Title = "Šablony";
}

<div ng-controller="templateCtrl" class="template-page">
    <div class="panel panel-default">
        <div class="panel-heading" style="display:flex;">
            <div class="btn" ng-class="{'btn-primary': filter.template }" ng-click="filter.template = true">
                Šablony
            </div>
            <div class="btn" ng-class="{'btn-primary': !filter.template }" ng-click="filter.template = false">
                Šablony projektů
            </div>

            <div style="flex:1"></div>
            <div ng-if="!filter.template">
                <input id="name" class="form-control" placeholder="Název šablony projektu" ng-model="projectTemplate.Name" />
            </div>
            <div ng-if="!filter.template">
                <div class="btn btn-primary" ng-click="createProjectTemplate()">Vytvořit</div>
            </div>
            <div ng-if="filter.template">
                <div class="btn btn-primary" ng-click="select({ WorkType: 1 })">Vytvořit šablonu</div>
            </div>
        </div>
    </div>

    @* Project template  *@
    <div>
        <div ng-if="!filter.template" class="col-md-9" style="overflow-y: scroll; height:calc(100vh - 200px); padding-right:0">
            <div ng-repeat="pTemplate in projectTemplates">
                <div class="list-group-item" style="display: flex; padding: 3px 5px">
                    <div ng-if="!pTemplate.edit" style="flex: 1; height: 34px" ng-click="filter.templateId = pTemplate.Id == filter.templateId ? null : pTemplate.Id">
                        <h5>
                            <span class="badge" style="vertical-align: bottom">{{ (templatesMap[pTemplate.Id] || []).length }}</span> {{pTemplate.Name}}
                        </h5>
                    </div>
                    <div ng-if="pTemplate.edit" style="flex: 1;">
                        <input class="form-control" type="text" ng-model="pTemplate.newName" ng-init="pTemplate.newName = pTemplate.Name" autofocus />
                    </div>

                    <div style="display:flex">
                        <h5>{{ pTemplate.delete ? 'Smazat šablonu projektu ?' : sumProjectDuration(templatesMap[pTemplate.Id]) }} &nbsp;</h5>
                        <div ng-show="!pTemplate.edit && !pTemplate.delete">
                            <div class="btn btn-primary btn-md" ng-click="pTemplate.edit = true">
                                <i class="fa fa-edit"></i>
                            </div>
                            <div class="btn btn-primary btn-md" ng-click="pTemplate.delete = true">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div ng-show="pTemplate.edit">
                            <div class="btn btn-primary btn-md" ng-click="editProject(pTemplate)" ng-disabled="pTemplate.newName.length === 0">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="btn btn-primary btn-md" ng-click="pTemplate.edit = false">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>
                        <div ng-if="pTemplate.delete">
                            <div class="btn btn-primary btn-md" ng-click="deleteProject(pTemplate)">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="btn btn-primary btn-md" ng-click="pTemplate.delete = false">
                                <i class="fa fa-times"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-if="pTemplate.Id == filter.templateId">
                    <div ng-repeat="block in blocks | filter: { Id: filter.blockId }:true">
                        <table class="table table-striped" style="width:100%; margin-bottom:0">
                            <tbody>
                                <tr ng-repeat="tmp in templates[block.Id]" ng-click="toggleProjectTemplate(pTemplate.Id,tmp.Id)" ng-if="((templatesMap[pTemplate.Id] || []).indexOf(tmp.Id) != -1) || !filter.hideTemplates">
                                    <td width="50">
                                        <div class="label" ng-class="(templatesMap[pTemplate.Id] || []).indexOf(tmp.Id) != -1 ? 'label-primary': ''"><i class="fa fa-check"></i></div>
                                    </td>
                                    <td width="250">
                                        {{block.Name}}
                                    </td>
                                    <td>
                                        {{tmp.Name}}
                                    </td>
                                    <td width="100">
                                        {{ getDuration(tmp.Duration)}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="filter.template" class="col-md-9" style="overflow-y: scroll; height:calc(100vh - 200px);">
            <div class="list-group" id="accordion">
                <div ng-repeat="block in blocks | filter: {Id: filter.blockId}:true" ng-init="block.newName = block.Id === 0 ? '' : block.Name">
                    <div class="list-group-item" style="display: flex; padding: 3px 5px" ng-style="block.Id === 0 ? { backgroundColor : '#dddddd' } : {}">
                        <div ng-if="!block.edit" style="flex: 1; height: 34px" ng-click="filter.blockId = block.Id">
                            <h5>
                                <span class="badge" style="vertical-align: bottom">{{ (templates[block.Id]|| []).length }}</span> {{block.Name}}
                            </h5>
                        </div>
                        <div ng-if="block.edit" style="flex: 1;">
                            <input class="form-control" type="text" ng-model="block.newName" autofocus />
                        </div>

                        <div style="display:flex">
                            <h5 ng-if="block.Id > 0">{{ sumDuration(templates[block.Id]) }} &nbsp;</h5>
                            <div ng-show="!block.edit">
                                <div class="btn btn-primary btn-md" ng-click="block.edit = true">
                                    <i class="fa" ng-class="block.Id === 0 ? 'fa-plus': 'fa-edit'"></i>
                                </div>
                                <div class="btn btn-primary btn-md" ng-show="block.Id !== 0" ng-click="deleteBlock(block)">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </div>
                            <div ng-show="block.edit">
                                <div class="btn btn-primary btn-md" ng-click="saveBlock(block)" ng-disabled="block.newName.length === 0">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="btn btn-primary btn-md" ng-click="block.edit = false">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="filter.blockId === block.Id">
                        <table style="width: 100%; table-layout: fixed;" class="table table-striped">
                            <thead>
                                <tr class="active">
                                    <th style="width: 90px">
                                        <i class="fa fa-tag" aria-hidden="true"></i> Abra
                                    </th>
                                    <th style="width: 220px">
                                        <i class="fa fa-tag" aria-hidden="true"></i> Název
                                    </th>
                                    <th style="width: 150px">
                                        <i class="fa fa-group" aria-hidden="true"></i> Skupina
                                    </th>
                                    <th style="width: 100px">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> Čas
                                    </th>
                                    <th>
                                        <i class="fa fa-align-left" aria-hidden="true"></i> Popis
                                    </th>
                                    <th style="width: 60px">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-style="template.Id == tmp.Id ? { 'outline': '2px solid orange'} : {}" ng-repeat="tmp in templates[block.Id]">
                                    <td ng-click="select(tmp)">
                                        {{tmp.Code}}
                                    </td>
                                    <td ng-click="select(tmp)">
                                        <span work-type="tmp.WorkType"></span>  {{tmp.Name}}
                                    </td>
                                    <td ng-click="select(tmp)">
                                        {{ groupsDic[tmp.RoleId].Name }}
                                    </td>
                                    <td ng-click="select(tmp)">
                                        {{ getDuration(tmp.Duration)}}
                                    </td>
                                    <td ng-click="select(tmp)" style="word-wrap: break-word;">
                                        {{tmp.Description}}
                                    </td>
                                    <td>
                                        <button ng-click="delete(tmp)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="list-group col-md-3" style="overflow-y: scroll; height:calc(100vh - 200px); padding-right:0">
            <div class="input-group" style="width:100%" ng-if="!filter.template">
                <span class="input-group-addon">
                    <input type="checkbox" ng-model="filter.hideTemplates" />
                </span>
                <input type="button" class="form-control" value="Pouze přiřazené" ng-click="filter.hideTemplates = !filter.hideTemplates">
            </div><!-- /input-group -->
            @*<a href="#" class="list-group-item list-group-item-warning" ng-click="filter.hideTemplates = !filter.hideTemplates">{{ filter.hideTemplates ? 'Hotovo' : '' }}</a>*@
            <a href="#" class="list-group-item" style="padding: 5px 5px" ng-class="{'active': filter.blockId == null }" ng-click="filter.blockId = undefined">Vše</a>
            <a href="#" class="list-group-item" style="padding: 5px 5px" ng-class="{'active': bl.Id == filter.blockId }" ng-repeat="bl in blocks" ng-click="filter.blockId = bl.Id">
                <span class="badge">
                    {{ filter.templateId != null && !filter.template ? getSelectedByBlock(templates[bl.Id], templatesMap[filter.templateId]).length + ' / ' : '' }} {{(templates[bl.Id]|| []).length}}
                </span>
                {{bl.Name}}
            </a>
        </div>
    </div>

    @Html.Partial("~/Views/Template/_EditTemplate.cshtml");
</div>

@section scripts{
    @Scripts.Render("~/Scripts/models/Template.js".JSVersion())
}
